header {
	background-color: #3b5998;
	color:#fff; 
	height: 80px;
	display: flex;
}
body {
	background-color:#f0f2f5;
  overflow-x: hidden;
  margin: 0;
}
h1 {
	font-family: Helvetica;
	padding-left: 20px;
}
a {
	text-decoration: none;
	color: white;
	
}
p {
	color: white;
	font-size: 14px;
	margin-top: 10px;
	position: relative;
}
.header-left {
	float:left;
}
.header-right {
	float:right;
	align-self: center;
	margin-left: auto;
	order: 2;
	margin-right: 20px;
}
body {
	margin: 0;
	font-family:Arial;
	text-align: center;
	
	
}
.button-container {
	float: right;
	justify-content: right;
}
.user-entry-form {
	margin: 75px auto 75px auto;
	max-width: 700px;
	min-height: 300px;
	background-color:#d6d6d6;
	width: 80%;
}

.form-container {
	padding:20px;
}

.input-container {
	display: flex;
	flex:1;
	gap: 10px;
	flex-basis: 25%;
	align-items:center;
}

.input-label {
	min-width:150px;
}

input {
	/*height:75%;*/
}

.error{
	display = none;
}

.friend-list {
	margin: 0 auto 0 auto;
	max-width: 85vw;
	display:flex;
	gap: 60px;
}

.friend-container {
  width: 25%;
  padding: 30px;
  background-color: whitesmoke;
  border: solid;
  box-sizing: border-box;
  border: solid darkgray;

}

.friend-info-row {
	display:flex;
}

.welcome-hi {
	font-size:28px;
}
.welcome-hi > h2 {
	font-size:72px;
}
.welcome-hi >h4 {
	margin-top:-6vh;
}

.sign-up-button {
	background-color:#42b72a;
	color:white;
	padding:14px 16px;
	border:none;
	min-width:120px;
	border-radius:6px;
  font-size: 18px;

}
.sign-up-button:hover {
	background-color:#338c21;
}
.link-hover:hover {
	color: #dedede;
}
.sign-up-form-container {
	margin: 75px auto 75px auto;
	max-width: 700px;
	min-height: 300px;
	background-color:#d6d6d6;
	width: 80%;
	text-align: center;
	align-items: center;
	display: flex;
	padding: 20px 40px;
}
.sign-up {
	min-width: 150px;
	margin-left:auto;
	gap: 10px;
}
.sign-up-form {
	width: 80%;	
}
.sign-up-input-field {
	width: 90%;
	min-width: 200px;


}
input:focus {
	border-color:blue;
}
.form-holder {
	margin-left: auto;
	margin-right: auto;
}
.add-button {
	background-color:#42b72a;
	border-radius: 2px;
	border:none;
	color: white;
	padding: 5px 15px;
	display:block;
	margin: 20px;
}
.add-button:hover {
	background-color:#338c21;
}
.remove-button {
	background-color:#ff0000;
	border-radius: 2px;
	border:none;
	color: white;
	padding: 5px 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.remove-button:hover {
	background-color:#bd0000;
}
.login-page {
	margin:auto;
	height:90vh;
	overflow-y:hidden;
}
.login-form-container {
	display:flex;
	gap: 100px;
	width:fit-content;
	margin:auto;
	padding-top:40px;
}
.marg-top {
  margin-top: 15vh;
}

.login-form-item >.total-form {
	padding:30px 60px;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.input-container {
	padding:10px;
}

.form-control {
	font-size: 18px;
	padding:14px 16px;
	width: 330px;
	border:1px solid #dddfe2;
	border-radius:6px;
	
}
.login-button {
	font-size: 18px;
	color:white;
	padding:14px 16px;
	width: 364px;
	background-color: #3b5998;
	border:none;
	border-radius:6px;
}
button {
	font-size: 18px;
	color:white;
	padding:14px 16px;
	border:none;
	border-radius:6px;
}

button.blue{
	background-color: #3b5998;
	
}
button:hover {
  background-color:#263963;
	
}

.login-button:hover {
  background-color:#263963;
}

.checkbox {
	padding:20px;
}

.sign-up-button.login {
	font-size: 18px;
	color:white;
	padding:14px 16px;
	width: 364px;
}

hr {
	border:1px solid #dadde1;
}

.login-form-item.login-label {
	font-size:24px;
}

.login-form-item{
	display:flex;
	justify-content:center;
	align-items:center;
}


.side-bar{

	margin:0;
	box-sizing:border-box;
	padding:0;
	width:200px;
	height:100%;
	overflow:auto;
	border-right:2px solid #ececec;
	position:fixed;
	left:0;
  padding-top: 20px;
}

.main-content {
	margin-left:200px;
	width:80%;
	padding:0 20px;

}

.top-bar {
	min-height:100px;
	background-color:#ececec;
}
.text-left {
	text-align:left;
}

.header-flex {
	display:flex;
	align-items:center;
	gap:5px;
	
}

.dropdown-items {	
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-items a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

button.dropdown-header {
	all:unset;
	font-size:18px;
}

button.dropdown-header:hover {
	color:#dedede;
}

.floating-box {
	padding:30px;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	width:fit-content;
}

.floating-box.center{
	margin:auto !important;
}
.form-submit {
	font-size: 18px;
	color:white;
	padding:14px 16px;
	width: 100%;
	background-color: #3b5998;
	border:none;
	border-radius:6px;
}
.form-submit:hover {
  background-color: #263963;
}

.profile-pic-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  position: relative;
  
}
.profile-pic {
  border-radius: 50%;
  max-width: 100%;
  position: absolute !important;
  left:0;
}
.profile-pic.small {
  max-width: 33%;
	
}
.profile-pic.small.flex, .profile-pic.chat-pic.flex{
	position:unset !important;
}
.edit-profile-pic {
  border-radius: 50%;
  z-index: 9;
  padding-top: 100%;
}
.profile-pic:hover + .edit-profile-pic{
    background-color: #737373;
    opacity: 0.8;
}
.edit-text {
  display:none;
  margin:0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
}

.profile-pic:hover + .edit-profile-pic>.edit-text{
  display:block;
}
.side-link {
  color: black;
  font-size: 16px;
}
.side-link:hover {
  color: #b0b2b2;
}
.friend-suggestions {
  position: relative;
}
.pad-20 {
  padding-left: 20px;
}
.side-line {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dropdown-item:hover {
  background-color: #d2d3d6;
}
.suggestion-card {
  min-width: 200px;
	max-width:200px;
  height: fit-contentpx;
	padding:10px 0;
  display: flex;
  border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  margin: 0px 10px;
  position: relative;
	flex-direction:column;
	align-items:center;
}
.suggestion-container {
  height: auto;
  width: auto;
  display: flex;
  padding: 10px;
	overflow:scroll;
	overflow-y:hidden;
}

.search-container {
  width:fit-content;
}

.chaticon {
	margin-bottom: 20px;
	color: black;
}
.chaticon:hover {
	color:#b0b0b0;
}


.search-results {
	display:flex;
}

.search-field {
	padding-left:20px;
	min-width:30vw;
}
.search-field-container {
	padding-left:20px;
	width:100%;
	display:flex;
}

.left {
	text-align:left;
}

.top-bar {
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}

/* ALL CSS FOR CHAT MUST BE IN HERE */

:root {
	--chat-app-height: calc(100vh - 80px);
	--chat-app-sidebar-width:350px;
}

.chat-page {
	max-height: var(--chat-app-height);
}

.chat-sidebar{
	display: inline-block;
	vertical-align: top;
	height: var(--chat-app-height);
	width: 18%;
	overflow-y: auto;
	box-sizing:border-box;
	border-right:solid black 4px;
}
.chat-main-panel {
	display: inline-block;
	vertical-align: top;
	height:  var(--chat-app-height);
	width: 82%;
	overflow: auto;

	
}

.section {
	height:100px;
	background: #f0f2f5;
	display:flex;
	align-content:center;
}

div.chat-sidebar>div:nth-of-type(even) {
	background:#e8edf4;
}

.section.title-main {
	text-align:left;
	align-items:center;
	margin-left:5px;
	position: sticky;
  	top:0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	

}

div.chat-main-panel>div.none-selected{
	display:flex;
	align-items: center;
    justify-content: center;
	height:100%;
	background:#0000002e;
}
.chat-sidebar-friend-button {
	width:100%;
	background: transparent;
	color:black;
	padding:0;
	border-radius:0;
	display:flex;
	align-items:center;
	margin: 10px;
}
div.chat-sidebar-friend-buttonr>div:nth-of-type(even) {
	background:transparent;
	
}

.chat-sidebar-friend-button:hover {
	background:#ffff;
}

.profile-pic.chat-pic {
	width: auto;
	height:75%;
} 

.chat-room{
	display:flex;
	flex-direction:column;
}

.chat-room>.top-bar{
	position:absolute;
	margin-top:80px;
	top:0;
	width:82%;
	height:50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	
}
.chat-room>.chat-box{
	position:absolute;
	bottom:0;
	height:50px;
	width:82%;
	background: #3b5998;
/* END CHAT CSS */