header {
	background-color: #3b5998;
	color:#fff; 
	height: 80px;
	display: flex;
}
body {
	background-color:#f0f2f5;
}
h1 {
	font-family: Helvetica;
	padding-left: 20px;
}
a {
	text-decoration: none;
	color: white;
	
}
p {
	color: white;
	font-size: 14px;
	margin-top: 10px;
	position: relative;
}
.header-left {
	float:left;
}
.header-right {
	float:right;
	align-self: center;
	margin-left: auto;
	order: 2;
	margin-right: 20px;
}
body {
	margin: 0;
	font-family:Arial;
	text-align: center;
	
	
}
.button-container {
	float: right;
	justify-content: right;
}
.user-entry-form {
	margin: 75px auto 75px auto;
	max-width: 700px;
	min-height: 300px;
	background-color:#d6d6d6;
	width: 80%;
}

.form-container {
	padding:20px;
}

.input-container {
	display: flex;
	flex:1;
	gap: 10px;
	flex-basis: 25%;
	align-items:center;
}

.input-label {
	min-width:150px;
}

input {
	height:75%;
}

.error{
	display = none;
}

.friend-list {
	margin: 0 auto 0 auto;
	max-width: 85vw;
	display:flex;
	gap: 60px;
}

.friend-container {
  width: 25%;
  padding: 30px;
  background-color: whitesmoke;
  border: solid;
  box-sizing: border-box;
  border: solid darkgray;

}

.friend-info-row {
	display:flex;
}

.welcome-hi {
	font-size:28px;
}
.welcome-hi > h2 {
	font-size:72px;
}
.welcome-hi >h4 {
	margin-top:-6vh;
}

.sign-up-button {
	background-color:#42b72a;
	color:white;
	padding:14px 16px;
	border:none;
	min-width:120px;
	border-radius:6px;
  font-size: 18px;

}
.sign-up-button:hover {
	background-color:#338c21;
}
.link-hover:hover {
	color: #dedede;
}
.sign-up-form-container {
	margin: 75px auto 75px auto;
	max-width: 700px;
	min-height: 300px;
	background-color:#d6d6d6;
	width: 80%;
	text-align: center;
	align-items: center;
	display: flex;
	padding: 20px 40px;
}
.sign-up {
	min-width: 150px;
	margin-left:auto;
	gap: 10px;
}
.sign-up-form {
	width: 80%;	
}
.sign-up-input-field {
	width: 90%;
	min-width: 200px;


}
input:focus {
	border-color:blue;
}
.form-holder {
	margin-left: auto;
	margin-right: auto;
}
.add-button {
	background-color:#42b72a;
	border-radius: 2px;
	border:none;
	color: white;
	padding: 5px 15px;
	display:block;
}
.add-button:hover {
	background-color:#338c21;
}
.remove-button {
	background-color:#ff0000;
	border-radius: 2px;
	border:none;
	color: white;
	padding: 5px 15px;
	display:none;
}
.remove-button:hover {
	background-color:#bd0000;
}
.login-page {
	margin:auto;
	height:90vh;
	overflow-y:hidden;
}
.login-form-container {
	margin-top:40%;
	display:flex;
	gap: 100px;
	width:fit-content;
	margin:auto;
	margin-top:15vh;
	padding-top:40px;
}


.login-form-item >.total-form {
	padding:30px;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.input-container {
	padding:10px;
}

.form-control {
	font-size: 18px;
	padding:14px 16px;
	width: 330px;
	border:1px solid #dddfe2;
	border-radius:6px;
	
}
.login-button {
	font-size: 18px;
	color:white;
	padding:14px 16px;
	width: 364px;
	background-color: #3b5998;
	border:none;
	border-radius:6px;
}
.login-button:hover {
  background-color:#263963;
}

.checkbox {
	padding:20px;
}

.sign-up-button.login {
	font-size: 18px;
	color:white;
	padding:14px 16px;
	width: 364px;
}

hr {
	border:1px solid #dadde1;
}

.login-form-item.login-label {
	font-size:24px;
}

.login-form-item{
	display:flex;
	justify-content:center;
	align-items:center;
}