<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="jquery.scrollreminder.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" 
        integrity="sha384-ujpAYcyxFaJsZN5668lLgOpEH8vtWrbOq8fvj+WZ2kD71LJwGa/9QP/suPPF1hTI" 
        crossorigin="anonymous">
	</script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<!-- 	google fonts -->
		
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&display=swap" rel="stylesheet">

	<title>sidematch</title>
</head>
<body>
	{% if current_user.is_authenticated %}
	<header>
		<a class="link-hover" href='/'>
		<div class="header-left"><h1>sidematch</h1></div>
		</a>
		
		<div class="header-right ">
			<div class="dropdown">
				<button class="dropdown-header">
				
					<h4 class="header-flex"><i class="bi bi-person-circle"></i>{{session['first_name']}}<i class="bi bi-list"></i></h4>
					
				</button>
				<div class="dropdown-items">
					<a class="dropdown-item" href="/dashboard">Dashboard</a>
					<a class="dropdown-item"  href="/sign-up/setup">Preferences</a>
					<a class="dropdown-item"  href="/chat">Messages</a>
					<a class="dropdown-item"  href="/logout">Logout</a>
					
          
				</div>
			</div>
			
			
		</div>
		
	</header>
	{% else %}
	
	<header>
		<a class="link-hover" href='/'>
		<div class="header-left"><h1>sidematch</h1></div>
		</a>
		
		<div class="header-right ">
			<a href="/sign-up/"><button class="sign-up-button">Sign up</button></a>
		</div>
		
	</header>

	{% endif %}

	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	
	
	{% block main %}
	{% endblock %}
</body>