<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<title>sidematch</title>
</head>
<body>
	{% if current_user.is_authenticated %}
	<header>
		<a class="link-hover" href='/'>
		<div class="header-left"><h1>sidematch</h1></div>
		</a>
		
		<div class="header-right ">
			<div class="dropdown">
				<button class="dropdown-header">
				
					<h4 class="header-flex"><i class="bi bi-person-circle"></i>{{first_name}}<i class="bi bi-list"></i></h4>
					
				</button>
				<div class="dropdown-items">
					<a class="dropdown-item" href="/dashboard">Dashboard</a>
					<a class="dropdown-item"  href="/sign-up/setup">Preferences</a>
					<a class="dropdown-item"  href="/chat">Messages</a>
					<a class="dropdown-item"  href="/logout">Logout</a>
					
          
				</div>
			</div>
			
			
		</div>
		
	</header>
	{% else %}
	
	<header>
		<a class="link-hover" href='/'>
		<div class="header-left"><h1>sidematch</h1></div>
		</a>
		
		<div class="header-right ">
			<a href="/sign-up/"><button class="sign-up-button">Sign up</button></a>
		</div>
		
	</header>

	{% endif %}


	{% block main %}
	{% endblock %}
</body>