<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Not Facebook</title>
</head>
<body>
	<header>
		<a class="link-hover" href='/'>
		<div class="header-left"><h1>not facebook</h1></div>
		</a>
		
		<div class="header-right ">
			<a href="/sign-up/"><button class="sign-up-button">Sign up</button></a>
		</div>
		
	</header>

	{% block main %}
	{% endblock %}
</body>