{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html'%}

{% block main %}

<div class="login-page">
	<div class="login-form-container marg-top">
		<div class="login-form-item login-label">
			<h1>Log in to sidematch</h1>
		</div>
		<div class="login-form-item">
			<div class="total-form">
				<form name="login-form" action="/login" method='POST'>
				{{ form.hidden_tag() }}
				
  				<div class="input-container login">
  						{{ wtf.form_field(form.username, placeholder="Username", extra_classes='login-input') }}
  				</div>
  			
  				<div class="input-container login">
  						{{ wtf.form_field(form.password, placeholder="Password", extra_classes='login-input') }}
  				</div>
  				{{ wtf.form_field(form.remember) }}
  				
  				<button class="login-button" type="submit">Login</button>
  				<hr>
  				
  			</form>
  				<a href='/sign-up'>
  					<button class="sign-up-button login text-black">New user? Sign up</button>
  				</a>
			</div>
			
			
		</div>
	</div>
	
</div>











{% endblock %}